@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  font-family: 'Neucha', cursive;
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  color: black;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(42, 40, 43, 0.815)), color-stop(85%, rgba(255, 255, 255, 0.45)));
  background: linear-gradient(180deg, rgba(42, 40, 43, 0.815) 40%, rgba(255, 255, 255, 0.45) 85%);
}

.container {
  height: 100vh;
  max-width: 100%;
  /*link-buttons*/
}

.container .header {
  max-width: 100%;
  padding: 10px;
  background: linear-gradient(45deg, rgba(42, 40, 43, 0.815) 5%, white 85%);
  border-bottom: .2rem solid aliceblue;
  text-align: center;
}

.container .header .header-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .header-items .profile-pic {
  text-align: center;
}

.container .header .header-items img {
  max-width: 60%;
  border-radius: 50%;
  border: solid .2rem white;
}

.container .header .header-items .name {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
}

.container .header .header-items .job-title {
  width: 100%;
  font-size: .5rem;
  padding-left: .5rem;
}

.container .link-buttons {
  margin: 1.6rem;
  padding: 1rem;
  border-radius: 15px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.container .link-buttons .top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 0;
  margin: .2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 5px;
  background: white;
}

.container .link-buttons .top-title li {
  padding: 0.5rem .5rem;
}

.container .link-buttons .top-title li .back {
  background: #1798ca;
  border-radius: .5rem;
  max-width: 15%;
  padding: .4rem 1rem;
}

.container .link-buttons .info-box {
  margin-top: .6rem;
  padding: 1rem;
  border-radius: 15px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.container .link-buttons .info-box .qualifications {
  text-align: center;
}

.container .link-buttons .info-box .qualifications li {
  padding: 0.5rem .5rem;
}

.container .link-buttons .info-box .qualifications li .pdf-file {
  background: #1798ca;
  border-radius: .5rem;
  max-width: 15%;
  padding: .4rem 1rem;
}

.container .link-buttons .info-box .text-scroll {
  text-align: justify;
}

.container .link-buttons .info-box .text-scroll .links {
  color: blue;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.container .link-buttons .info-box .text-scroll .archievements {
  padding-left: .8rem;
  color: blue;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.container .link-buttons .info-box .text {
  text-align: justify;
}

.container h4 .p-tag {
  color: red;
  text-align: left;
}

.container .socials {
  width: 100%;
  text-align: center;
}

.container .socials a {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 300;
  margin-top: 0px;
  margin-right: 20px;
}

.container .socials a i {
  color: #7a7272;
}

.container footer {
  position: absolute;
  top: 94.7%;
  background: #2a282a;
  color: #857d7d;
  width: 100%;
  padding: 8px 15px;
  text-align: center;
  font-size: 1rem;
}

.container footer .leadFooter {
  color: grey;
}

.container footer .home-arrow {
  margin-left: 20px;
  color: #2d41fc;
}
/*# sourceMappingURL=personalInfo.css.map */